/* Media Query */
@media screen and (max-width: 1860px) {
    .container {
        padding: 0px 20px;
    }

    /* .dashboard-box .sidebar-btn, .sidebar-menu .close-btn {
        display: block;
        opacity: 1;
    }
    .sidebar-menu.offcanvas-start{
        transform: translateX(-90%) !important;
        visibility: visible !important;
    }
    .sidebar-menu.offcanvas.show {
        transform: translateX(0%) !important;
    } */
    .navbar.dashboard-box {
        padding: 25px 0px;
    }
 

    .dashboard-area .content-bar {
        padding: 75px 0px 50px;
        padding-left: 259px;
    }

    .header-whole-menu {
        padding-left: 216px;
    }
}
@media screen and (max-width: 1849px){
    .header-whole-menu {
        padding-left: 214px;
    }
}

@media screen and (max-width: 1500px) {
    .dashboard-area .content-bar {
        padding-left: 270px;
    }

    .header-whole-menu {
        padding-left: 154px;
    }

    .dashboard-area .content-bar {
        padding-left: 284px;
    }
    .dashboard-area .content-bar {
        padding: 126px 0px 50px;
    }
}

@media screen and (max-width: 1440px) {

    .navbar.dashboard-box {
        padding: 25px 20px;
    }

    .sidebar-menu.offcanvas-start .close-btn {
        opacity: 0;
    }

    /* .sidebar-menu.offcanvas-start.show .close-btn{
        opacity: 1;
    } */
    .sidebar-menu .dashboard-logo {
        max-width: 80%;
    }

    .affiliate-text h2 {
        font-size: 28px;
    }

    .total-affiliate-earningbox {
        padding: 29px 35px;
        width: 220px;
    }

    .sidebar-btn {
        opacity: 0;
    }

    .invoice-btn a {
        font-size: 14px;
        padding: 12px 22px;
    }

    .dashboard-menu li {
        margin-bottom: 10px;
        padding: 11px 30px;
    }

    .header-whole-menu {
        padding-left: 266px;
    }
    .dashboard-area .content-bar {
        padding: 126px 0px 50px;
        padding-left: 288px;
    }
    .flex-container span {
        margin-right: 43px;
    }
    span.likes ul {
        padding: 0px;
        padding-left: 14px;
    }
    .fx-tab-box.my-course .fax-tabs .nav-item .nav-link{
        padding: 10px 0px !important;
    }
    .fx-tab-box.my-course .fax-tabs .nav-item .nav-link{
        font-size: 18px;
    }
    .fx-tab-box.my-course .fax-tabs .nav-item {
        width: 17%;
    }
    .overview-des-box {
        margin-bottom: 30px;
    }
    .history-main-box .history-box {
        width: 46%;
    }
    .mobile-btn{
        font-size: 8px;
    }
    .history-box{
        padding: 23px 10px;
    }
    .price-box .price span {
        font-size: 20px;
    }
    .price-box .price span {
        font-size: 16px;
    }
    

}

@media screen and (max-width: 1300px) {
    .key-feature-box {
        margin-left: 127px;
    }

    .fx-content .tab-pane {
        padding: 30px 30px;
    }

    .header-box .header-menu li {
        margin-left: 8px;
    }

    .header-box .header-menu li .buy-login-box a {
        padding: 12px 20px;
    }

    .total-affiliate-earningbox {
        width: 300px;
    }

    .total-affiliate-earningbox {
        width: 60%;
    }

    .affiliate-earning-box, .total-affiliate-earningbox {
        height: 130px;
    }

    .affiliate-text h2 {
        font-size: 26px;
        line-height: 1;
    }

    .affiliate-text h3 {
        font-size: 17px;
        line-height: 1.4;
    }

    .total-affiliate-box {
        padding: 32px 22px;
    }
    iframe.responsive-iframe{
        height: 350px;
    }
    .fx-tab-box.my-course .fax-tabs .nav-item {
        width: 18%;
    }

}

@media screen and (max-width: 1200px) {
    .fx-box h4 {
        font-size: 15px;
    }

    .fx-price-box h2 {
        font-size: 32px;
        line-height: 37px;

    }

    .fx-price-box a {
        padding: 12px 33px;
    }

    .key-feature-box {
        margin-left: 74px;
    }

    .overview-des-box {
        margin-bottom: 38px;
    }

    .container {
        padding: 0px 20px;
    }

    .header-box .header-menu li {
        margin-left: 0px;
    }

    .header-box .header-menu li .buy-login-box a {
        font-size: 13px;
        padding: 12px 15px;
        margin-left: 10px;
    }

    .affiliatelink-whole-box {
        padding-left: 10px;
    }

    .sidebar-menu.offcanvas-start {
        width: 242px;
    }

    .dashboard-menu li a {
        font-size: 15px;
    }

    .total-affiliate-box {
        padding: 32px 22px;
    }

    .header-whole-menu {
        padding-left: 222px;
    }

    .dashboard-area .content-bar {
        padding-left: 244px;
    }

    .total-affiliate-earningbox {
        width: 54%;
    }
    .change-form-box .form-box .icontrol {
        font-size: 16px;
    }
    .change-form-box .form-box .icontrol::placeholder{
        font-size: 16px;
    }
    .change-pwd-box h2 {
        font-size: 18px;
    }
    .submit-btn{
        margin-top: 10px;
    }
    .recharge-box h2 {
        font-size: 18px;
    }
    .price-box .price span {
        font-size: 11px;
    }
    .mobile-btn.recharge {
        font-size: 12px;
    }
    .recharge-icon img{
        width: 40px;
    height: 40px;
    }
    .recharge-icon h3 {
        font-size: 12px;
    }
    .mobile-btn{
        padding: 6px 6px;
    }
}

@media screen and (max-width: 1023px) {
    .fx-head h2 {
        font-size: 25px;
    }

    .fx-price-review-box {
        display: block;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .fx-price-review-box .left-part.part {
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .container {
        padding: 0px 20px;
    }

    .fax-tabs li button {
        font-size: 18px;
        padding: 20px 18px;
    }

    .key-feature-box {
        margin-left: 0px;
    }

    .fx-content .tab-pane {
        padding: 30px 20px;
    }

    .feature-box .feature-text h4 {
        font-size: 18px;
        line-height: 34px;
    }

    .header-box .header-menu {
        display: inherit;
        justify-content: flex-start;
        align-items: center;
    }

    .header-box .header-menu {
        align-items: flex-start;
        margin-top: 25px;
    }

    .header-box .header-menu li .buy-login-box a {
        margin-left: 0px;
        margin-right: 20px;
    }

    .header-box .header-menu li {
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .header-box .header-menu li .buy-login-box a {
        padding: 10px 25px;
    }

    .invoice-btn {
        margin-bottom: 60px;
    }

    .header-whole-menu {
        display: block;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .header-whole-menu .part, .header-whole-menu .part {
        margin-bottom: 32px;
    }

    .header-whole-menu {
        margin-top: 30px;
    }

    .dashboard-box.navbar-light .navbar-toggler {
        margin-left: auto;
    }

    .sidebar-btn {
        opacity: 1;
    }

    .affiliate-list, .invoice-btn, .header-whole-menu {
        padding-left: 0px;
    }
    .sidebar-btn {
        display: block !important;
    }
    .dashboard-area .content-bar {
        padding-left: 0px;
    }
    .dashboard-area .content-bar {
        padding-left: 15px;
    }
    .change-pwd-box {
        padding-left: 0px;
    }
    .change-pwd {
        padding-bottom: 60px;
    }
    .fx-tab-box.my-course .fax-tabs .nav-item .nav-link {
        font-size: 16px;
    }
    .fx-tab-box.my-course .fax-tabs .nav-item {
        width: 100%;
        padding-bottom: 10px;
        width: 100%;
        display: block;
    }
    .fx-tab-box.my-course .fax-tabs .nav-item .nav-link {
        font-size: 17px;
        width: 100%;
    }
    .feature-box.my-course {
        align-items: center;
        margin-bottom: 15px;
    }
    .span-block-label{
        margin-bottom: 10px;
    }
    .reg-box h2{
        margin-bottom: 30px;
    }
    .reg-box h2 {
        font-size: 30px;
    }
    .recharge-icon img {
        width: 60px;
        height: 60px;
    }
    .recharge-icon h3 {
        font-size: 17px;
    }
    .recharge-box h2 {
        font-size: 22px;
    }
    .mobile-btn {
        padding: 10px 20px;    
    }
    .mobile-btn.recharge {
        font-size: 16px;
    }
    .price-box .price span {
        font-size: medium;
    }
    .mobile-btn {
        font-size: x-small;
    }
    .history-whole-box {
        margin-top: 40px;
    }
    .recharge-bills-wholebox {
        padding-top: 0px;
    }
}

@media screen and (max-width: 767px) {
    .fx-box {
        margin-right: 20px;
    }

    .fx-head h2 {
        margin-bottom: 62px;
    }

    .fx-price-box h2 {
        font-size: 28px;
    }

    .fx-price-box a {
        padding: 8px 25px;
    }

    .fax-tabs li button {
        font-size: 18px;
        padding: 12px 18px;
    }

    .overview-des-box p {
        font-size: 16px;
        line-height: 25px;
    }

    .buycourse-area {
        padding: 80px 0px;
    }

    .container {
        padding: 0px 15px;
    }

    .affiliate-text h2 {
        font-size: 30px;
    }

    .total-affiliate-earningbox {
        width: 235px;
    }

    .affiliate-text h3 {
        font-size: 15px;
        line-height: 1;
    }

    .invoice-btn a {
        font-size: 15px;
        padding: 12px 22px;
    }

    .total-affiliate-box {
        padding: 30px 22px;
    }

    .affiliate-text h2 {
        line-height: 1.3;
    }
    iframe.responsive-iframe {
        height: 300px;
    }
    .reg-box h2 {
        font-size: 25px;
    }
    .reg-box h3{
        line-height: 1.5;
        padding: 0px 20px;
    }
    .history-main-box .history-box {
        width: 100%;
    }
    .price-box .price span {
        font-size: 16px;
    }
    .price-box{
        justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
    }
    .history-box {
        padding: 16px 10px;
    }
    .recharge-operators .recharge-icon{
        width: 33.33% !important;
        display: block !important;
        flex-wrap: wrap !important;
    }
}

@media screen and (max-width: 479px) {
    .fx-head h2 {
        font-size: 23px;
        line-height: 35px;
    }

    .fx-price-review-box .left-part.part {
        display: block;
        flex-wrap: wrap;
    }

    .fx-box {
        margin-right: 0px;
        display: block;
        padding-bottom: 16px;
    }

    .fx-price-review-box .left-part.part, .fx-price-review-box .right-part.part {
        display: block;
        flex-wrap: wrap;
    }

    .fx-price-box {
        margin-left: 0px;
        padding-bottom: 16px;
    }

    .fx-tab-area {
        padding: 40px 0px;
    }

    .fax-tabs li, .fax-tabs li button {
        width: 100%;
        display: block;
    }

    .fax-tabs li {
        margin-right: 0px;
    }

    .feature-box .feature-text h4 {
        font-size: 15px;
        line-height: 22px;
    }

    .fx-head h2 {
        margin-bottom: 50px;
    }

    .feature-image img {
        max-width: 88%;
    }

    .feature-box .feature-text {
        margin-left: 10px;
    }

    .fx-price-review-box .right-part.part {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dashboard-menu li {
        margin-bottom: 12px;
    }

    .total-affiliate-earningbox {
        width: 200px;
    }

    .affiliate-text h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .affiliate-text h2 {
        line-height: 40px;
    }

    .dashboard-affiliate-box {
        padding: 0px 0px 0px 10px;
    }
    .feature-box.my-course {
       display: block;
        flex-wrap: wrap;
        width: 100%;
    }
    .reg-box h3{
        line-height: 1.5;
        padding: 0px 15px;
    }
    iframe.responsive-iframe {
        height: 200px;
    }
    .feature-image .responsive-iframe {
        width: 100%;
        height: 160px;
    }
    .recharge-operators .recharge-icon {
        width: 50%;
        display: block !important;
        flex-wrap: wrap !important;
    }
    .overview-des-box p {
        font-size: 15px;
        line-height: 25px;
    }
    .dashboard-area .content-bar {
        padding-left: 16px;
    }

}