.update-btn{
    background: #FFCC06 0% 0% no-repeat padding-box; 
}
.cancel-btn{
    border: 1px solid #202C3A;
    margin-left: 1.5rem;
}
.common-style-btn{
    border-radius: 35px;
    opacity: 1;
    font-weight: bold;
    padding: 0.85vw;
    margin-top: 0.75vw;
    width: 15%;
}
.edit-profile-form{
    padding-right: 7.5vw;
}

@media (max-width: 991px){
    .common-style-btn{
        width: 25%;
        padding: 1.5vw;
    }
}