@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap');

/* fonts Glacial Indifference */
@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Regular.eot');
    src: url('../fonts/GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GlacialIndifference-Regular.woff2') format('woff2'),
        url('../fonts/GlacialIndifference-Regular.woff') format('woff'),
        url('../fonts/GlacialIndifference-Regular.ttf') format('truetype'),
        url('../fonts/GlacialIndifference-Regular.svg#GlacialIndifference-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Bold.eot');
    src: url('../fonts/GlacialIndifference-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GlacialIndifference-Bold.woff2') format('woff2'),
        url('../fonts/GlacialIndifference-Bold.woff') format('woff'),
        url('../fonts/GlacialIndifference-Bold.ttf') format('truetype'),
        url('../fonts/GlacialIndifference-Bold.svg#GlacialIndifference-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* styling Nemi Sanghvi 26th May */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

h2 {
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0px;
}

body {
    font-family: 'Montserrat', 'Glacial Indifference', sans-serif;
    margin: 0px;
    font-size: 16px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0px 30px;
    margin: 0 auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* header */
.header-area {
    background-color: white;
    padding: 10px 0px;
}

.header-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-box .header-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-box .header-menu li {
    margin-left: 26px;
}

.header-box.navbar-light .navbar-nav .nav-link {
    color: #202C3A;
}

.header-box .header-menu li a {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 0.5;
    font-weight: 400;
}

.header-box.navbar-light .navbar-nav .nav-link:hover {
    color: #202C3A;
    opacity: 1;
}

.header-box .header-menu li .buy-login-box a {
    background-color: #FFCC06;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
    border-radius: 25px;
    font-weight: bold;
    padding: 15px 20px;
    margin-left: 15px;
    transition: all .3s ease;
}

.header-box .header-menu li .buy-login-box a.buy-btn, .header-box .header-menu li .buy-login-box a.login-btn:hover {
    background-color: white;
}

.header-box .header-menu li .buy-login-box a.buy-btn:hover {
    background-color: #FFCC06;
}

.header-box.navbar-light .navbar-toggler {
    background-color: #FFCC06;
}

/* .header-box.navbar-expand-lg .navbar-collapse{
    display: flex;
justify-content: flex-end;
align-items: center;
width: 100%;
} */
/*  */

/* buy-course */
.buycourse-area {
    padding: 100px 0px;
}

.fx-price-review-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fx-price-review-box .part {
    display: flex;
}

.stars-box span {
    display: inline-block;
}

.fx-head h2 {
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 106px;
    font-family: 'Glacial Indifference';
}

.fx-box h3 {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 4px;
    color: #707070;
    opacity: 1;
}

.fx-box h4 {
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
    font-weight: bold;
    font-family: 'Montserrat';
}

.fx-box {
    margin-right: 67px;
}

.fx-price-box {
    margin-left: 16px;
}

.fx-price-box h2 {
    font-size: 41px;
    line-height: 37px;
    color: #202C3A;
    font-weight: bold;

}

.fx-price-box a {
    font-size: 16px;
    text-decoration: none;
    color: #202C3A;
    padding: 16px 34px;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    background-color: #FFCC06;
    font-weight: bold;
    border: 1px solid #FFCC06;
    transition: all .3s ease;
    display: inline-block;
}

.fx-price-box a:hover {
    background-color: transparent;
    border: 1px solid #FFCC06;
}

/* fx-tabs */
.fx-tab-area {
    padding: 60px 0px;
}

.fx-tab-box {
    border: 1px solid #ECECEC;
    border-radius: 10px;
}

.fax-tabs {
    border-bottom: 1px solid #ECECEC;
}

.fax-tabs li {
    margin-right: 11px;
}

.fax-tabs li button {
    background-color: #ECECEC;
    color: #707070;
    border: none;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 29px 18px;
    transition: all .3s ease-in-out;
    border-bottom: 6px solid transparent;

}

.fax-tabs.nav-pills .nav-link.active, .fax-tabs.nav-pills .show>.nav-link, .fax-tabs.nav-pills .nav-link:hover {
    color: #FFCC06;
    background-color: #202C3A;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom: 6px solid #FFCC06;
}

.fax-tabs.nav-pills .nav-link:focus {
    outline: none;
}

.overview-des-box {
    margin-bottom: 48px;
}

.overview-des-box h2 {
    font-size: 20px;
    line-height: 24px;
    color: #202C3A;
    margin-bottom: 16px;
    font-weight: bold;
}

.overview-des-box p {
    font-family: 'Montserrat';
    font-size: 16px;
    letter-spacing: 0px;
    color: #707070;
    font-weight: 500;
    line-height: 28px;
}

.fx-content .tab-pane {
    padding: 30px 40px 40px 40px;
}

.outcome-list li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-bottom: 20px;
    list-style-type: disclosure-closed;
}

.overview-des-box.learn-title h2 {
    margin-bottom: 28px;
}

.key-feature-box h2 {
    font-size: 20px;
    line-height: 24px;
    color: #202C3A;
    font-weight: bold;
    margin-bottom: 25px;
}

.feature-box {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 36px;
}

.feature-box .feature-text h3 {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
    margin-bottom: 8px;
    font-weight: 400;
}

.feature-box .feature-text h4 {
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
    font-weight: bold;
}

.feature-box .feature-text {
    margin-left: 22px;
}

.key-feature-box {
    margin-left: 170px;
}

.fx-price-review-box .left-part.part, .fx-price-review-box .right-part.part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* footer */
.footer-area {
    background-color: #202C3A;
    padding: 52px 0px;
}

.footer-part .footer-logo img {
    width: 180px;
    height: 62px;
    object-fit: cover;
}

.footer-part .footer-logo {
    margin-bottom: 40px;
}

.footer-part .footer-text p {
    color: white;
}

.footer-part .social-icons a {
    margin-right: 32px;
    color: white;
    display: inline-block;
}

.footer-part .social-icons {
    margin-top: 43px;
}

.footer-part .footer-text h2 {
    color: white;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer-part .footer-links {
    padding: 0px;
}

.footer-part .footer-links li a {
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 400;
    text-decoration: none;
}

.footer-part .footer-links li a:hover {
    color: #FFCC06;
    opacity: 1;
}

.footer-part .footer-links li {
    margin-bottom: 15px;
    list-style-type: none;
}

.form-whole-box h3 {
    font-size: 13px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 25px;
}

.footer-part.first-part {
    padding-right: 100px;
}

.formcontrol-custom .icontrol {
    width: 100%;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 23px;
    opacity: 1;
    color: white;
    padding: 15px 20px;
    height: 46px;
    line-height: 1;
    margin-top: 20px;
}

.formcontrol-custom .icontrol:focus {
    box-shadow: none;
}

.submit .submit-btn {
    background-color: #FFCC06;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
    border-radius: 25px;
    font-weight: bold;
    padding: 15px 37px;
    margin-left: 15px;
    transition: all .3s ease;
    outline: none;
    border: 1px solid white;
    height: 46px;
}

.submit .submit-btn:hover {
    background-color: transparent;
    color: white;
}

.form-main-box {
    display: flex;
    justify-content: flex-start;
    align-items: initial;
}

.footer-line {
    padding-top: 53px;
}

.footer-line a {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-right: 87px;
    text-decoration: none;
    font-weight: 400;
    transition: all .3s ease;
}

.footer-line a:hover {
    color: #FFCC06;
    opacity: 1;
}

/* Dashboard css */
/*  */
.sidebar-btn {
    display: none !important;
}

.sidebar-menu .close-btn {
    opacity: 0;
}

.sidebar-menu.offcanvas-start {
    transform: translateX(0%) !important;
    visibility: visible !important;
}

.sidebar-menu.offcanvas.show {
    transform: translateX(-90%) !important;
}

.dashboard-box .sidebar-btn, .sidebar-menu .close-btn {
    display: block;
}

.form-box {
    position: relative;
}

.sidebar-btn {
    background-color: #ffcc06;
    color: black;
    font-weight: 1px solid transparent;
    vertical-align: middle;
    border: none;
    text-transform: capitalize;
    /* position: absolute; */
    right: -29px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #ffcc06;
    position: absolute;
    top: 6px;
}

.sidebar-btn:hover {
    background-color: #ffcd06 !important;
    border: 1px solid #ffcc06;
    color: black;
}

.sidebar-btn:hover:focus {
    box-shadow: none !important;
    border: none !important;
}

.btn-close.close-btn {
    position: absolute;
    top: 8px;
    right: 7px;
    background-color: #ffffff;
    overflow: hidden;
    border: none;
    border-radius: 0px !important;
}


.sidebar-menu.offcanvas-start {
    width: 278px;
    background-color: #202C3A;
    padding: 0px 0px;
    padding-top: 20px;
    transition: all .3s ease;
    transform: translateX(0%);
}

.sidebar-menu.offcanvas.show {
    transform: translateX(0%);
}

.header-whole-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-whole-menu .part, .header-whole-menu .part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dash-box .dash-icon {
    border: 1px solid #eeee;
    background-color: #80808033;
    border-radius: 50%;
    margin-right: 18px;
}

.dash-box h2 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    font-weight: bold;
    margin-bottom: 2px;
}

.dash-box h3 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.navbar.dashboard-box {
    background-color: white !important;
    padding: 20px 0px;
    box-shadow: 0px 0px #0000000a;
    box-shadow: 0px 10px 6px #0000000a;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 25px 272px;
    z-index: 50;
}

.dashboard-area .content-bar {
    padding: 108px 276px 50px;
}

.form-box .home-icon {
    margin-left: 34px;
}

.form-box .home-icon a {
    color: #202C3A;
}

.dashboard-menu {
    padding: 0px;
    list-style-type: none;
    margin-top: 30px;
}

.dashboard-menu li {
    list-style-type: none;
    margin-bottom: 16px;
    background-color: #ffffff00;
    padding: 14px 30px;
    border-radius: 0px;
    clip-path: polygon(11% 0%, 100% 0%, 100% 100%, 11% 100%, 0% 50%);
}

.dashboard-menu li:hover, .dashboard-menu li.active {
    clip-path: polygon(11% 0%, 100% 0%, 100% 100%, 11% 100%, 0% 50%);
    background-color: #ffffff17;
}
.dashboard-menu li:hover svg path, .dashboard-menu li.active svg path{
    fill: #ffcd06;
}

.dashboard-menu li:hover a {
    color: #FFCC06;
}

.dashboard-menu li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
}

.dashboard-menu li a span {
    margin-right: 17px;
}

.dashboard-menu li a span img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.sidebar-menu .offcanvas-body, .sidebar-menu .offcanvas-header {
    padding: 0px 0px;
}

.sidebar-menu .dashboard-logo {
    width: 100%;
    max-width: 80%;
    padding: 0px 20px;
}



/* width */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.scrollbar-custom::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.scrollbar-custom::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.form-box .scontrol {
    width: 100%;
    background-color: #202C3A;
    color: white;
    border-radius: 30px;
    background-image: url();
    position: relative;
    padding-left: 56px;
}

.form-box .user-icon {
    position: absolute;
    top: -1px;
}

.form-box .user-icon img {
    max-width: 100%;
}

/* affiliate-list */
.affiliate-list {
    padding: 0px;
}

.affiliate-list li {
    list-style-type: none;
}

.affiliate-earning-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.affiliate-earning-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc0624;
    height: 150px;
    border-radius: 10px;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.affiliate-text h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
    margin-bottom: 8px;
}

.affiliate-text h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
}

.total-affiliate-earningbox {
    background-color: #ffcc06;
    height: 150px;
    width: 340px;
    padding: 29px 35px;
    border-radius: 10px;
}

.total-affiliate-box {
    height: 130px;
    padding: 20px 22px;
}

.total-affiliate-earningbox.affiliate-text h2, .total-affiliate-earningbox.affiliate-text h3 {
    color: white;
}

li.even .affiliate-earning-box {
    background-color: #00aeee26;
}

li.even .affiliate-earning-box .total-affiliate-earningbox {
    background-color: #00AEEE;
}


.invoice-btn a {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #202C3A;
    opacity: 1;
    border-radius: 25px;
    opacity: 1;
    background-color: #FFCC06;
    padding: 15px 32px;
    font-weight: bold;
    transition: all .3s ease;
}

.invoice-btn a:hover {
    background-color: #202C3A;
    color: white;
}

.invoice-btn a {
    margin-top: 20px;
}

.form-box .icontrol {
    background-color: #ECECEC;
    border: none;
    border-radius: 30px;
    height: 40px;
    padding: 0px 20px;
    width: 100%;
    max-width: 100%;
}

.form-box .icontrol::placeholder {
    color: #00AEEE;
    font-weight: bold;
}

.form-box .icontrol:focus {
    box-shadow: none;
}

.affiliatelink-whole-box h2 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #202C3A;
    text-transform: capitalize;
    opacity: 1;
    font-weight: bold;
    margin-bottom: 16px;
}

.affiliate-box {
    margin-bottom: 42px;
}

.copylink-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.copylink-box .copy-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.copylink-box .copy-link span {
    margin-right: 18px;
}

.copylink-box .copy-link {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #2D2D2D;
}

.affiliatelink-whole-box {
    padding-left: 30px;
}

.form-box.code .icontrol {
    width: auto;
}

.unlock-key {
    max-width: 80px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.change-pwd-box h2 {
    color: #202C3A;
    margin-bottom: 30px;
}

.change-pwd {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.change-form-box .form-box {
    margin-bottom: 30px;
}

.change-form-box .form-box .icontrol {
    padding: 15px 0px 15px 40px !important;
    font-size: 18px;
}

.change-form-box .form-box .icontrol::placeholder {
    color: #B1B1B1;
    font-size: 18px;
}

.submit-btn {
    width: 100%;
    padding: 12px 0px;
    border-radius: 25px;
    opacity: 1;
    background-color: #FFCC06;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #202C3A;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #202C3A;
}

.change-pwd-box {
    padding-left: 30px;
}

/* Recharge and bills */
.history-whole-box h2 {
    color: #202C3A;
    margin-bottom: 30px;
   
    margin-bottom: 30px;
}

.history-box {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    padding: 20px;
    margin: 8px;
}

.price-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.price-box .price span {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;

}

.mobile-btn {
    color: #2D2D2D;
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: #C4C4C4;
    border: none;
}

.price-box .date {
    color: #B1B1B1;
    font-size: 16px;
}

.price.date span {
    color: #2D2D2D;
    font-size: 16px;
}

.recharge-list {
    padding: 0px;

}

.recharge-list li {
    list-style-type: none;
}

.history-main-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.history-main-box .history-box {
    width: 47%;
}
.recharge-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.mobile-btn.recharge {
    font-size: 17px;
}
.recharge-icon {
    text-align: center;
    cursor: pointer;
}
.recharge-icon img{
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.recharge-icon h3{
    font-size: 16px;
    color: #2D2D2D;
    opacity: 1;
}
.recharge-operators {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.recharge-operators .recharge-icon{
    width: 25%;
    padding-bottom: 30px;
}
svg path {
    opacity: 1;
}
span.new-label {
    display: block;
    border: 1px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    padding: 0px 5px;
    font-size: 12px;
    margin-left: 7px;
}
.dashboard-menu li:hover a, .dashboard-menu li.active a{
    color: #FFCC06;
}
.lock-icon svg path {
    fill: gray;
}
.lock-icon {
    position: absolute;
    top: 6px;
    left: 19px;
}
/* .dashboard-menu li a span:hover{
    background-color: #FFCC06;
} */